**/node_modules
**/*.env
**/log/*
**/secrets/*

*.exe
*.a
*.dll
.qt
*_autogen
CMakeFiles
CMakeCache.txt
*.cmake
*.ninja*
compile_commands.json
*.user
build
.cache
backend/src/routers/preWithdrawRouter-old.js
backend/tests/routes/preWithdrawRoute-old.test.js

